torch_geometric==2.5.2
transformers==4.38.0
rdkit==2023.09.5
sentencepiece==0.2.0
selfies==2.1.2
pandas==2.2.3
lightning_utilities==0.11.9
torchmetrics==1.5.2
numpy==1.26.4
absl-py==2.1.0
easydict==1.13
ratelimiter==1.2.0.post0
uvicorn===0.32.1
fastapi===0.115.5
python-multipart==0.0.19
oss2==2.19.1
python-dotenv==1.0.1
protobuf==5.28.3
scanpy==1.10.3
langchain==0.3.27
langchain-openai==0.3.35
openai==2.8.1
langgraph==0.6.11
langgraph-checkpoint==2.1.2
langgraph-checkpoint-sqlite==2.0.11
langgraph-prebuilt==0.6.5
langgraph-sdk==0.2.9
omegaconf==2.3.0
langchain-deepseek==0.1.4
aiohttp==3.9.5
prodigy-prot==2.4.0
